.popUpContainer {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  height: fit-content;
  .top-container {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 16px;
    .bar {
      width: 4px;
      height: 40px;
      border-radius: 7px;
      margin-left: 16px;
    }
    .message {
      min-height: 72px;
      height: fit-content;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #33393D;
      /* border: 2px solid black; */
    }
    .icon{
        height: 30px;
        width: auto;
        margin-right: 16px;
    }
  }
}
.hidden {
  display: none;
}
.animate {
  animation: shrink 6s forwards;
  width: 425px;
}

@keyframes shrink {
  to {
    width: 0px;
  }
}
